* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5b2c6f;
  padding: 0 1rem;
  height: 2.5rem;
}
.nav_menu {
  list-style: none;
}
.nav_items {
  text-decoration: none;
  color: #f7f9f9;
  cursor: pointer;
}

.btn_donar{
    color:black;
    background-color: #a89131;
    padding: .5rem;
    border-radius:.5rem;
}
.btn_donar:hover{
    background-color: #F4D03F;
}

.main {
  width: 100%;
  height: calc(100vh - 2.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer{
  width: 100%;
  height: 2.5rem;
  background-color: #5b2c6f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  color: #f7f9f9;

}